<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<footer class="footer">
    <div class="container cfooter">
        <div class="row rfooter">

            <div class="footer-col">
               <img src="ressources/logo.jpg" class="logofooter">
            </div>
            <div class="footer-col">
                <h4>Coordonnées</h4>
                <ul>
                    <li><a href="#">3 Rue Emile Zola, </a></li>
                    <li><a href="#">62300 Lens</a></li>
                    <li><a href="#">Email : xxxxxx@gmail.com</a></li>
                    <li><a href="#">Télephone :  06xxxxxxxx</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>A propos</h4>
                <ul>
                    <li><a href="#">Données personnelles</a></li>
                    <li><a href="#">Mentions légales</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Suivez-Nous</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2021, by <span>MWW</span></p>
        </div>
    </div>
</footer>
