<section class="description">
<div class="container">
    <div class="row  justify-content-md-center">
        <div class="col-xxl-3 col-md-12">
            <img src="ressources/ml.jpeg" class="imgDes">
        </div>
        <div class="col-xxl-8 col-md-12">
            <h4>Mille feuilles</h4>
            <p class="desProduit text-muted">     
                    Des details , description ,description description description description description 
                    <p class="text-muted">Prix : 1.40 €</p>
             </p>
        </div>
</div>
<hr class="featurette-divider">

</section>
<!--<section id="products">
<h5>Toujours l jadid</h5>

<div class="row">
               
       <div class="col-md-3">
           <div class="card text-center">
               <img src="ressources/ec.jpeg" class="card-img-top">
               <div class="card-body">
                   <h5 class="card-title">Éclair chocolat</h5>
                   <p class="card-text">Prix : 1.40 €</p>
                   <a href="index.php?view=milleFeuille">Voir Plus</a>
               </div>
           </div>
       </div>

       <div class="col-md-3">
           <div class="card text-center">
               <img src="ressources/br.jpeg" class="card-img-top">
               <div class="card-body">
                   <h5 class="card-title">Brownie</h5>
                   <p class="card-text">Prix : 1.40 €</p>
                   <a href="#">Voir Plus</a>
               </div>
           </div>
       </div>

       <div class="col-md-3">
           <div class="card text-center">
               <img src="ressources/flan.jpg" class="card-img-top">
               <div class="card-body">
                   <h5 class="card-title">Part Flan</h5>
                   <p class="card-text">Prix : 1.40 €</p>
                   <a href="#">Voir Plus</a>
               </div>
           </div>
       </div>
</div>
</div>
</div>
</section>

</section>
<!--<style>
    /* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */



/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
    </style>
        <div class="container">

<div class="row featurette justify-content-md-center">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">Mille feuilles</h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
  <div class="col-md-3 order-md-1">
    <img src="ressources/ml.jpeg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
  </div>    
</div>

    <hr class="featurette-divider">

</div> /.container -->