
<section id="products">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" id="imageP">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
          <h1 class="display-4 fw-normal">Produits pâtisserie</h1>
          <p class="lead fw-normal">Tous les produits sont fait maison</p>
        </div>
   
      </div>
    <div class="container">
        <div class="row justify-content-md-center">

             <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="card text-center">
                        <img src="ressources/ml.jpeg" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Mille feuilles</h5>
                            <p class="card-text">Prix : 1.40 €</p>
                            <a href="index.php?view=milleFeuille">Voir Plus</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="card text-center">
                        <img src="ressources/ec.jpeg" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Éclair chocolat</h5>
                            <p class="card-text">Prix : 1.40 €</p>
                            <a href="#">Voir Plus</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="card text-center">
                        <img src="ressources/br.jpeg" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Brownie</h5>
                            <p class="card-text">Prix : 1.40 €</p>
                            <a href="#">Voir Plus</a>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row justify-content-md-center">
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="card text-center">
                        <img src="ressources/flan.jpg" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Part Flan</h5>
                            <p class="card-text">Prix : 1.40 €</p>
                            <a href="#">Voir Plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="card text-center">
                        <img src="ressources/flan.jpg" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Part Flan</h5>
                            <p class="card-text">Prix : 1.40 €</p>
                            <a href="#">Voir Plus</a>
                        </div>
                    </div>
                </div>      
                
    </div>

    </div>
</section>