<div class="container containerAccueil">
  <div class="heading headingAccueil">
    <h1 id="titreProduits">Découvrez nos créations</h1>
  </div>
<div class="row rowAccueil rowProduits">

                <div class="card cardAccueil ca4">
                  <div class="card-header card-headerAccueil ">
  <a href="index.php?view=patisseries" class="btn2">Pâtisseries</a>
      </div>
                </div>

  <div class="card cardAccueil ca5">
    <div class="card-header card-headerAccueil">
      <a href="index.php?view=patisseriesOrientales" class="btn2">Pâtisseries orientales</a>
    </div>
  </div>

  <div class="card cardAccueil ca6">
  <div class="card-header card-headerAccueil">
    <a href="index.php?view=boulangerie" class="btn2">Boulangerie</a>
  </div>
  </div>

  </div>
  <div class="row rowAccueil">

    <div class="card cardAccueil ca7">
      <div class="card-header card-headerAccueil ">
<a href="index.php?view=sandwiches" class="btn2">Sandwicheries</a>
</div>
    </div>

<div class="card cardAccueil ca8">
<div class="card-header card-headerAccueil">
<a href="index.php?view=viennoiseries" class="btn2">Viennoiseries</a>
</div>
</div>

</div>
</div>
